
/* ============== CONFIGS. GERAIS ================ */

* {
    margin: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%; /* 1rem = 10px */


    --cor-primaria: rgb(0, 133, 111);
    --cor-primaria-fraca: rgb(220, 233, 226);
    --cor-primaria-fraca-02: rgb(247, 250, 250);
    --cor-primaria-hover: rgb(0, 69, 58);
    
    --cor-secundaria-beige: rgb(255, 250, 241);
    
    --cor-headline: rgb(33, 37, 41);
    --cor-paragrafo: rgb(73, 80, 87);


    --nav-height: 7.2rem;
    --mobile-max-width: 37.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
}

img {
    display: block;
    margin: auto;
}

main {
    max-width: var(--mobile-max-width);
    margin: auto;
}

section {
    padding: 10rem 2.4rem;
}

h1 {
    color: var(--cor-headline);
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

h2 {
    color: var(--cor-headline);
    font-size: 3rem;
    line-height: 3.9rem;
}

h4 {
    color: var(--cor-headline);
    font-size: 2.4rem;
    line-height: 3.1rem;
}

p {
    color: var(--cor-paragrafo);
    font-size: 1.6rem;
    line-height: 150%;
}

#first-two-sections-div {
    background: linear-gradient( var(--cor-primaria-fraca) 116rem, var(--cor-primaria-fraca-02) 116rem);
}

.titulo-superior {
    color: var(--cor-primaria);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

/* ========== BARRA DE NAVEGAÇÃO ============= */

body.menu-expanded > :not(header) {
    visibility: hidden;
}

nav {
    background-color: var(--cor-primaria-fraca);

    position: fixed;
    height: var(--nav-height);
    top: 0;
    width: 100%;

    z-index: 100;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

nav > header {
    max-width: var(--mobile-max-width);
    height: 100%;
    margin: auto;
    padding: 0px 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

.nav-on-scroll {
    background-color: var(--cor-primaria);
}

.nav-on-scroll .logo path {
    fill: white;
}

.nav-on-scroll button path {
    stroke: white;
}

#mobile-menu {
    height: calc(100vh - var(--nav-height));
    background-color: var(--cor-primaria);
}

@keyframes menu-up {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes menu-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
        visibility: hidden;
    }
}

.mobile-menu-start {
    visibility: hidden;
}

.mobile-menu-collapsed {
    animation: menu-down 700ms forwards;
}

.mobile-menu-expanded {
    animation: menu-up 700ms forwards;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4.8rem;

    padding-top: 6rem;
    padding-left: 0;
    margin-bottom: 8rem;
}

.nav-list a {
    color: var(--cor-secundaria-beige);
    line-height: 3.1rem;
    font-size: 2.4rem;
    text-decoration: none;
}

.nav-list button {
    background-color: white;

    border-radius: 4rem;
    padding: 16px 32px;

    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--cor-primaria);
    font-weight: 700;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    padding-left: 0;
}

/* ================ SECTION INICIO ================= */
.p-principal {
    font-size: 1.8rem;
    color: var(--cor-paragrafo);
    line-height: 2.7rem;
}

.btn-agendamento {
    background: var(--cor-primaria);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: 16px 32px;

    border-radius: 4rem;
    border: none;

    margin: 3.2rem auto 6rem auto;

    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-agendamento:hover {
    cursor: pointer;
    background-color: var(--cor-primaria-hover);
}

#inicio-section {
    padding-top: calc(4.1rem + var(--nav-height));
    text-align: center;
    padding-top: 4.1rem 2.4rem 0rem 2.4rem;
}

#div-numeros {
    background-color: var(--cor-secundaria-beige);

    border: 1px solid #DCE9E2;
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;

    padding: 4rem 1rem;
}

#div-numeros h3 {
    color: var(--cor-headline);
    font-size: 4.8rem;
    line-height: 130%;
}

#div-numeros p {
    color: var(--cor-primaria);
}

/* =================== SERVICOS SECTION ================== */

#servicos-section {
    text-align: center;
}

.cards-container {
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card {
    background-color: white;
    text-align: left;

    padding: 2.4rem;

    border: 1px solid var(--cor-primaria-fraca);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}